body {
  margin: 0;
  font-family: Roboto, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: auto;
  margin: auto;
  background-color: #1f2937;
  padding-top: 1%;
}

#logo-container {
  display: flex;
  justify-content: left;
  flex: 1 1 auto;
  margin-left: 15%;
  margin-right: 100px;
  height: auto;
  width: auto;
  max-width: 35px;
}

.logo {
  height: auto;
  width: auto;
  max-width: 35px;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  margin-right: 25%;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #e5e7eb;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 100px 50px 150px 50px;
  gap: 50px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin-left: 12%;
  height: auto;
  min-width: 500px;
  max-width: 500px;
}

.hero-heading {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  flex: none;
  margin-bottom: -5px;
}

.hero-paragraph {
  color: #f9faf8;
  font-size: 18px;
  flex: none;
}

.hero-button {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 7px;
  border: none;
  height: 35px;
  width: 15%;
  padding: 4px;
  box-sizing: border-box;
}

.hero-video-container {
  flex: 0 1 auto;
  max-width: 100%;
  height: auto;
  margin-right: 22%;
}

.hero-video {
  border: 3px solid white;
  border-radius: 5px;
}

.random-info {
  background-color: white;
  height: auto;
  width: 100%;
}

.random-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
  margin: 3% auto 4% auto;
}

.random-info-header h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.info-display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  height: auto;
  margin: 0 auto 8% auto;
}

.info-display {
  display: flex;
  flex-direction: column;
  margin: 2px auto 2px auto;
}

.info-image {
  margin: 2% auto 2% auto;
  width: 50%;
  height: auto;
  border: 3px solid #3882f6;
  border-radius: 5px;
  flex: 1;
}

.info-display p {
  margin: 2% auto 2% auto;
  flex: 1;
}

.quote-section-container {
  width: 100%;
  height: auto;
  background-color: #E5E7EB;
  margin: auto;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  margin: 2% auto 2% auto;
  padding: 8%;
}

.quote-text {
  flex: 1;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  height: auto;
  width: 50%;
  margin: 2% auto 2% auto;
}

.quote-author {
  font-weight: 500;
  flex: 1;
  height: auto;
  margin: 0 0 0 25%;  
}


@media (max-width: 800px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }

  .hero-text-container,
  .hero-video-container {
    width: 75%;
    max-width: none;
    min-width: 0;
    margin: 20px 0;
    flex: 0 1 auto;
  }

  .hero-button {
    max-width: 100%;
  }
}
